.env
.venv
venv
__pycache__
*.pyc
.pytest_cache
.mypy_cache
node_modules
.next
out
apps/web/out
dist
*.log
.DS_Store
apps/web/.env.local

# Local Netlify folder
.netlify

.env.stripe.local
apps/api/.env.stripe.local
